<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artemis's Playground</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'share/bulma-0.8.0/css/bulma.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'share/main.css' %}"/>
</head>

<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-dark">
        <a class="navbar-item" href="/">
            <img src="{% static 'share/images/icon5.png' %}" alt="icon">
            <h1 class="title is-size-4 has-text-light" style="font-family: sans-serif, times; padding-left: 20px;"> Artemis's Playground </h1>
        </a>



      <!--   https://bulma.io/documentation/components/navbar/  for responsive sites-->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>
     </a>

    </div>

    <div id="navbarData" class="navbar-menu is-active" >
      <!-- navbar-menu hidden in mobile devices -->
      <!-- is-active makes id show in mobile devices -->
    <div class="navbar-start">



    </div>

   <div class="navbar-end">
         <div class="navbar-item">

           <!-- Search bar addon -->
           <div class="navbar-item">
                    <form action="{% url 'share:search' %}" method="post">
                        {% csrf_token %}
                        <p class="control has-icons-left">
                            <input class="input" type="text" name="query" placeholder="search">
                            <span class="icon is-left">
                        <i class="fas fa-search"></i>
                      </span>
                        </p>
                    </form>
              </div>
           <!-- End Search bar addon -->
           <a class="navbar-item" href="{% url 'share:dashboard' %}">
             <span class="icon">
               <i class="fas fa-home has-text-light"></i>
          </a>
           <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                  <img src="{{user.profile.icon.path}}">
              </a>

              <div class="navbar-dropdown is-right">

                 <div class="navbar-item">
                     {% if request.path == "/login" or request.path == "/loguser" %}
                     <a class="button is-warning is-light is-outlined" href="{% url 'share:signup' %}">Signup</a>

                      {% elif request.path == "/signup"  %}

                      <a class="button is-warning is-light is-outlined" href="{% url 'share:login' %}">Login</a>

                     {% else   %}
                     <ul>
                       <li>
                         <a class="navbar-item" href="{% url 'share:publish_post' %}"> Make a Post </a>
                       </li>
                       <li>
                         <a class="navbar-item" href="{% url 'share:user_profile' user.id %}">Profile</a>
                       </li>
                       <li>
                         <a class="navbar-item" href="{% url 'share:edit_profile' user.id %}">Settings</a>
                       </li>
                       <li>
                         <a class="navbar-item" href="{% url 'share:logout' %}">Logout</a>
                       </li>
                      </ul>
                     {% endif %}

                   </div>
                 </a>
              </div>

            </div>

         </div>
       </div>

     </div>
   </nav>

<section class="section">
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</section>

</body>
</html>
