<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sharing Code</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'share/bulma-0.8.0/css/bulma.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'share/main.css' %}"/>
</head>

<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'share:index' %}">
            <img src="{% static 'share/images/icon.png' %}" alt=" icon" width="40" height="40">
        </a>
    </div>
</nav>

<section class="section">
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</section>

</body>
</html>
