<!-- list problems and scripts that belong to this coder -->
{% extends "share/base.html" %}
{% block content %}

<link rel="stylesheet" href="C:\Users\iserr\Documents\GitHub\AP-forked\ArtemisPlayground\share\static\share\bulma-0.8.0\css\bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/css/all.css"></script>
<link rel="stylesheet" type="text/css" href="C:\Users\iserr\Documents\GitHub\AP-forked\ArtemisPlayground\share\static\share\main.css">

<style>
  /* .center {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
</style>
<body>
  <section class="index">
    <div class="container">
      <div class="columns">

        <!-- beginning of chat section -->
        <div class="column1">
          <!--  <p> this is a test, should be on the right</p> -->

          <!-- insert buttons: Group-Finder & Chat -->
          <div class="buttons">
            <ul>
              <li>
                <!-- Group Finder Button -->
                <button class="button is-medium is-warning is-light is-outlined">
                   <span class="is-outlined">
                     <i class="fab fa-Group Finder"></i>
                   </span>
                   <span>Group Finder</span>
                 </button>
              </li>
              <li>
                 <!-- Chat Button -->
                <button class="button is-medium is-warning is-light is-outlined">
                  <span>Chat</span>
                </button>
              </li>
            </ul>
          </div>

        </div>
        <!-- end chat section -->

        <!-- beginning of main feed section -->
        <div class="column2">
          {% if error %}
            <h3 class="title is-3" style="color: red">{{ error }}</h3>
          {% endif %}
          <!-- <p> this is a test, should be in the middle </p> -->

          <div class="notification is-warning">
            <figure class="image is-square">
              <img src="static\share\images\Hollow_Knight.png" alt="Hollow_Knight">
            </figure>
            <br>
            <article class="media notification is-warning">
              <figure class="media-left">
                <span class="image is-64x64">
                  <img src="static\share\images\user.png" >
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <a>
                    <h1 class="title is-size-4"> Username </h1>
                  </a>
                  <p class="subtitle is-size-6">
                    Sprite models from the game <span class="tag is-warning is-light">#Hollow Knight</span>
                  </p>
                </div>
              </div>
            </article>
          </div>
          
        </div>
        <!-- end main feed section -->

        <!-- beginning trending section -->
        <div class="column3">
          <!-- <p> this is a test, should be on the right </p> -->
          <!-- the idea hear is to show an image that is trending/has the highest amount of reblogs/likes/upvotes etc...-->
          <figure class="image is-primary is-256x256">
            <img src="static\share\images\diablo.jpeg" alt="diablo">

            <br>
            <h2 style="color:#996633"; class="title is-4"> Diablo 3 Fan Art </h2>
            <div class="tags are-normal">
              <span class="tag is-warning is-light">#Diablo</span>
              <span class="tag is-warning is-light">#blizzard</span>
              <span class="tag is-warning is-light">#Diablo 3</span>
              <span class="tag is-warning is-light">#D3</span>
            </div>
          </figure>
          <br>
          <br>
          <h1 style="color:#cc0000"; class="title is-4"> Trending </h1>
          <div class="tags are-large">
            <span class="tag is-danger is-light">blizzard</span>
            <span class="tag is-danger is-light">Unity</span>
            <span class="tag is-danger is-light">Skyrim</span>
            <span class="tag is-danger is-light">Overwatch</span>
          </div>
        </div>
        <!-- end trending section -->

      </div>
    </div>
  </section>
</body>


{% endblock content %}
