<!-- list problems and scripts that belong to this coder -->
{% extends "share/base.html" %}
{% block content %}

{% if error %}
  		<h3 class="title is-3" style="color: red">{{ error }}</h3>
{% endif %}
<link rel="stylesheet" href="C:\Users\iserr\Documents\GitHub\AP-forked\ArtemisPlayground\share\static\share\bulma-0.8.0\css\bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/css/all.css"></script>
<link rel="stylesheet" type="text/css" href="C:\Users\iserr\Documents\GitHub\AP-forked\ArtemisPlayground\share\static\share\main.css">

<style>
  /* .center {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
</style>
<body>
  <section class="index">
    <div class="container">
      <div class="columns">

        <!-- beginning of chat section -->
        <div class="column1">
          <!--  <p> this is a test, should be on the right</p> -->


        </div>
        <!-- end chat section -->

        <!-- beginning of main feed section -->
        <div class="column2">
          <hr>
          {% if latest_post_list %}
          {% for p in latest_post_list %}
            <!-- user info -->
            <div class="notification is-dark">
            <section class="section is-paddingless-horizontal" style="padding-top:0;">
              <div class="container">
                <article class="media center">
                  <figure class="media-left">
                    <figure class="image is-64x64">
                      <a href="{% url 'share:visit_user_page' p.user.id %}">
                        <img src="{{ my_profile.icon.photo.url }}">
                      </a>
                    </figure>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{ p.user.first_name}} {{ p.user.last_name }}</strong>
                        <a style="text-decoration:none" href="{% url 'share:visit_user_page' p.user.id %}">@{{ p.user.username }}</a><br>
                        <span class="has-text-grey"><time datetime="{{ p.post_created }}">{{ p.post_created }}</time></span>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </section>

            <!-- Username info -->

            <div class="content">
              {% if p.photo.photo %}
                <figure class="image">
                  <a href="{% url 'share:show_post' p.id %}">
                    <img src="{{ p.photo.photo.url }}">
                  </a>
                </figure>
              {% endif %}
              {% if p.post_header %}
                <a href="{% url 'share:show_post' p.id %}">
                  <h1 class="title is-size-3">{{ p.post_header }}</h1>
                </a>
              {% endif %}
              {% if p.post_body %}
                <p style="font-size:120%;">{{ p.post_body }}</p>
              {% endif %}
            </div>
            </div>
          {% endfor %}
          {% endif %}
        <!-- end main feed section -->

        <!-- beginning trending section -->
        <div class="column3">

        </div>
        <!-- end trending section -->

      </div>
    </div>
  </section>
</body>


{% endblock content %}
