<!-- list problems and scripts that belong to this coder -->
{% extends "share/base.html" %}
{% block content %}

    <div class="columns">
        <div class="column">
            <div class="tile is-ancestor has-text-centered">
                <div style="margin: auto;" class="tile is-parent">
                    <div class="tile is-child box">
                        <h1 class="title is-2"> Hello &nbsp<span style="color:#1496ed">{{ user.username }}</span></h1>

                        <h4 class="title is-5">You can publish new problems here:</h4>
                        <a class="button is-info is-medium" href="{% url 'share:publish_problem' %}">Publish a new problem</a>
                    </div>
                </div>
            </div>

                <!-- This is only for testing to see the objects were passed to the template by the view -->
                <hr>
                    <div class="box">
                    <h2 class="title" style="color:#00d1b2">Problems defined by you:</h2>
                    {% for p in my_problems %}
                            <div class="content"> {{ p.title }}
                              <a class="button is-primary is-small" href="{% url 'share:show_my_problem' p.id %}">Show more ...</a>
                                                                  <!-- create show_my_problem route right away -->

                            </div>
                    {% endfor %}
                    </div>

                    <div class="box">
                      <h2 class="title " style="color:#00d1b2">Scripts written by you:</h2>
                    {% for s in my_scripts %}
                            <div class="content">
                                <br>Script Title: {{ s.title }}, Solves: {{ s.problem.title }}, posted by {{s.problem.coder.user.username}}

                                <a class="button is-primary is-small" href="{% url 'share:show_my_script' s.id %}">Show more ...</a>
                                                                  <!-- create show_my_script route right away -->
                            </div>
                    {% endfor %}
                    </div>
        </div>
    </div>

{% endblock content %}
