{% extends "share/base.html" %}
{% block content %}

<!-- objects passed by the view function: user, problem -->


{% if error %}
  
{% endif %}

    <div class="publish-form columns">

    <div class="column" >
      <h4 class="title is-5"> Create your Python script to solve: {{problem.title}}</h4>

      <form action="{% url 'share:create_script' problem.id  %}" method="post">
        {% csrf_token %}

        <div class="field">
          <div class="control">
            <label class="label">*Script title</label>
            <input class="input is-primary" type="text" name="title">
          </div>
        </div>

        <div class="field">
              <div class="control">
                <label class="label">*Description (add test cases)</label>
                <textarea class="input is-primary" name="description" namerows="4" cols="50" >
                </textarea>
              </div>
        </div>

        <div class="field">
          <div class="control">
            <!-- Part for Tatiana -->

            <label class="label">*Code</label>
            <textarea class="input is-primary code" name="code" namerows="4" cols="50" >
            </textarea>
          </div>
        </div>

        <div class="field">
              <div class="control">
                <label class="label">Optional URL</label>
                <input class="input is-primary"  type="text" name="url">
              </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Input:</label>
            <textarea class="input is-primary" name="input" namerows="4" cols="50" >
            </textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Output:</label>
            <textarea class="input is-primary" name="output" namerows="4" cols="50" >
            </textarea>
          </div>
        </div>

        <label class="checkbox">
              <br>Are you ready to make this problem public?
              <input type="checkbox"  id="make_public" name="make_public" />
        </label>

        <br><br><br>

        <div class="field">
            <div class="control">
              <button class="button is-success is-outlined is-fullwidth" type="submit">
                Create</button>&nbsp;
            </div>
        </div>

        </form>

</div>

{% endblock content %}
