{% extends "share/base.html" %}
{% block content %}

    <div class="publish-form columns">

        <div class="column" >
            <h4 class="title is-5">Create a Post:</h4>
             {% if error %}
                    <h3 style="color: red">{{ error }}</h3>
                {% endif %}
            <form action="{% url 'share:create_post' %}" method="post">
            {% csrf_token %}

                <!-- media_upload -->
                <form method="post" enctype="/media/">
                  {% csrf_token %}
                  <input type="file" name="Media">
                  <button type="submit">Upload</button>
                </form>

                <label class="checkbox">
                  <br>Is this a video upload?
                      <input type="checkbox"  id="video" name="video" />
                </label>

                <div class="field">
                  <div class="control">
                    <label class="label">Title</label>
                    <input class="input is-warning" placeholder="Title" type="text" name="title">
                  </div>
                </div>

                <div class="field">
                      <div class="control">
                        <label class="label">Description</label>
                        <textarea class="input is-warning" name="description" namerows="4" cols="50" >
                        </textarea>
                      </div>
                </div>

                <br><br><br>

                <div class="field">
                  <div class="control">
                    <button class="button is-success is-outlined is-fullwidth" type="submit" value="Publish">Publish</button>&nbsp;
                  </div>
                </div>

            </form>
         </div>
    </div>


{% endblock content %}
